.header {
  display: grid;
  grid-template-columns: 125px auto;
  gap: 1rem;
}

.header__nav {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header__nav-item {
  border: 2px solid var(--primary);
  border-radius: 9999px;
  color: var(--primary);
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.header__nav-item:hover,
.header__nav-item:hover > .header__nav-link {
  background-color: var(--primary);
  color: var(--primary-background);
}

.header__nav-link {
  font-size: 1.125rem;
}

.header .logo {
  transform: scale(3.5);
}
